<!DOCTYPE html>
<html lang="en">
<!--HEAD-->
<%- include('./partials/head.ejs')  %> 
    <title>Modificar Producto</title>
    <link href="/css/styles.css" rel="stylesheet">`
    <link href="/css/perfil.css" rel="stylesheet">`
</head>
<body>
    <!--HEADER-->
    <%- include('./partials/header.ejs')  %> 
    <!--MAIN-->
    <main class="perfil">
        <div>
            <section class="imagen">

                <img src="<%= usuario.foto %>" alt="userImage">

            </section>
            <div>
                <a href="/user/editar/<%= usuario.nombre_usuario %>">
                    <button class="boton-personalizado">Editar</button>
                </a>
            </div>
            <% if (locals.isLogged && locals.userLogged.perfil_id == 1) { %>
                <div>
                    <a href="http://localhost:3000/">
                        <button class="boton-personalizado">Dashboard</button>
                    </a>
                </div>
            <% } %>
            <div>
                <a href="/user/logout/">
                    <button class="boton-personalizado">Cerrar sesión</button>
                </a>
            </div>
           
        </div>
        <section class="detalle">
            <div>
                <div class="label-group">
                    <label class="label">Nombre :</label>
                    <label class='label-input' for="nombre"> <%= usuario.nombre %></label>
                </div>
                <div class="label-group">
                    <label class="label">Apellido :</label>
                    <label class='label-input' for="apellido"> <%= usuario.apellido %></label>
                </div>
                <div class="label-group">
                    <label class="label">Dirección :</label>
                    <label class='label-input' for="direccion"> <%= usuario.direccion %></label>
                </div>
                <div class="label-group">
                    <label class="label">Localidad :</label>
                    <label class='label-input' for="localidad"> <%= usuario.localidad %></label>
                </div>
                <div class="label-group">
                    <label class="label">País :</label>
                    <label class='label-input' for="pais"> <%= usuario.pais %></label>
                </div>
                <div class="label-group">
                    <label class="label">Edad :</label>
                    <label class='label-input' for="edad"> <%= usuario.edad %></label>
                </div>
                <div class="label-group">
                    <label class="label">Email :</label>
                    <label class='label-input' for="email"> <%= usuario.email %></label>
                </div>
                <div class="label-group">
                    <label class="label">Nombre de usuario :</label>
                    <label class='label-input' for="usuario"> <%= usuario.nombre_usuario %></label>
                </div>
            </div>
        </section>
    </main>
<!-- SUSCRIPCION + FOOTER + COPIRIGHT-->
<%- include('./partials/footer.ejs')  %>  